.rock {
    background-image: url("images/pic4.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    opacity: 1 !important;
}


#top-nav 
{background-color: #F99 !important;
    padding: 5px;

}

#top-nav p {
    color: #fff;
    margin: 5px 0 0 150px;
}


.lead {
    font-family: 'Livvic', sans-serif !important;
    font-size: medium !important;
    color:white !important;
    text-align: center
}

.lead-center {
    text-align: center !important;
    color: #fff !important;
}