body {
    font-family: 'Livvic', sans-serif !important;
}




.rock {
    background-image: url("images/pic4.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    opacity: 1 !important;
}


#top-nav 
{background-color: #F99 !important;
    padding: 5px;

}

#top-nav p {
    color: #fff;
    margin: 5px 0 0 150px;
}


.lead {
    font-family: 'Livvic', sans-serif !important;
    font-size: medium !important;
    color:white !important;
    text-align: left !important;
}

.lead-center {
    text-align: center !important;
    color: #fff !important;
}

a.nav-link {
    /* color: #F99Faa !important; */
    font-family: 'Open Sans', sans-serif !important;
font-family: 'Roboto', sans-serif !important;
font-weight: normal !important;
/* outline: 2px white !important; */
color: black !important;
}

.my-badge {
    
    font-size: xx-small !important;
    background-color: #F99 !important;
}

body {
    font-family: 'Livvic', sans-serif !important;
}




.my-footer {
    background-color: #F99 !important;
}