body {
    font-family: 'Livvic', sans-serif !important;
}



.centered {
    position: absolute !important;
    top: 20%;
    left: 40%;
    transform: translate(-50%, -50%) !important;
    display: inline-block;
    font-size: smaller !important;
}

.rock {
    background-image: url("images/pic5.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    opacity: 1 !important;
    

}
.h1 {
    font-family: 'Livvic', sans-serif !important;
    font-size: medium !important;

}

.lead {
    font-family: 'Livvic', sans-serif !important;
    font-size: medium !important;
    color:white !important;
    text-align: left
}

#top-nav {background-color: #F99;
    padding: 5px;

}

#top-nav p {
    color: #fff;
    margin: 5px 0 0 150px;
}

.lead-center {
    text-align: left !important;
    color: #fff !important;
}

a.nav-link {
    /* color: #F99Faa !important; */
    font-family: 'Open Sans', sans-serif !important;
font-family: 'Roboto', sans-serif !important;
font-weight: normal !important;
/* outline: 2px white !important; */
color: black !important;
}

.my-badge {
    
    font-size: xx-small !important;
    background-color: #F99 !important;
}

.my-footer {
    background-color: #F99 !important;
}