.my-header{
background-color: #F99Faa !important;
height: 40px !important;

}


#top-nav {background-color: #F99 !important;
    padding: 5px !important;

}

#top-nav p {
    color: #fff !important;;
    margin: 5px 0 0 150px !important;
}


.my-header a {color: white !important;
padding-top: 50px !important;
position: relative !important;
}

.my-navbar a {
    text-decoration: black !important;
    font-weight: bolder !important;
    text-shadow: beige !important;
    font-family: 'Open Sans', sans-serif !important;
    

}

h3 { color: #F99Faa !important;
     text-emphasis: none !important;;
     font-weight: bold !important;
     font-style: normal !important;
     font-size: px !important;
     font-family:'Montserrat', sans-serif !important;
     font-family:'Hepta Slab', serif !important;

}

.jumbotron p {font-family: 'Hepta Slab', serif !important;
    font-family: 'Lexend Tera', sans-serif !important;
    font-size: 15px; 


}

.my-lorem {
        font-family: 'Lexend Deca', sans-serif !important;
        font-size: small !important;

}
.abcd p {
    font-family: 'Lexend Deca', sans-serif !important;
        font-size: small !important;

}

.text-center {
    font-family: 'Lexend Deca', sans-serif !important;
    font-size: small !important;
    /* text-align: justify !important; */
    text-decoration: 

}
.text {
    font-family: 'Lexend Deca', sans-serif !important;
    text-align: center !important;
    text-emphasis: 2px !important;
    font-size: medium !important;
    font-weight: bold !important;


}

.card-title {
    font-family: 'Lexend Deca', sans-serif !important;
    text-align: center !important;
    text-emphasis: 2px !important;
    font-size: medium !important;
    font-weight: bold !important;
    

}

.list-group-item {
    font-family: 'Lexend Deca', sans-serif !important;
    text-align: center !important;
    
    font-size: smaller !important;
    border: none !important;

}

.card-text {
    font-size: smaller !important;
    font-family: 'Lexend Deca', sans-serif !important;


}

.my-4 {
    border: 2px solid salmon !important;

}

.text-muted {
    font-size: xx-small !important;

}

.nav-link a {
    font-family: 'Open Sans', sans-serif !important;

}
card-title h5 {
    font-family: 'Open Sans', sans-serif !important;
    font-size: small !important;
}

p.card-text {
    font-family: 'Open Sans', sans-serif !important;
    font-size: small !important;
    text-align: center !important;
    /* font-size: 13px !important; */

}

h5.card-title {
    font-family: 'Lexend Deca', sans-serif !important;
    font-size:small !important;
    font-weight: bold !important;
    color: #F99Faa !important;


}

.my-btn {
    float: right !important;
    margin-top: 20px !important;
    margin-right: 400px !important;
}

h3 {
    font-size: medium !important;
    
}

p.mt-3 {
    font-size: small !important;
    text-align: center !important;
        
}

a.btn {
    font-size: xx-small !important;
}
h6 {
    font-family: 'Lexend Deca', sans-serif !important;
    color: #F99Faa !important;
    font-size: small !important;
    font-weight: bold !important;
    
}

.my-footer {
     background-color: #F99Faa !important;
    }

.fa-facebook {
    background: #3B5998 !important;
    color: white !important;
}

.fa-twitter {
    background: rgb(176, 187, 196) !important;
    color: white !important;
}

.fa-instagram {
    background: #125688 !important;
    color: white !important;
  }

  h4.text { color: #F99Faa !important;
    font-family: 'Lexend Deca', sans-serif !important;

}

a.nav-link {
    color: #F99Faa !important;
    font-family: 'Open Sans', sans-serif !important;
font-family: 'Roboto', sans-serif !important;
font-weight: normal !important;
}

.csc {
    color: grey !important;
}
.p5 {
    font-size:medium !important;
    text-align: left !important;
}

.badge {
    font-size: xx-small !important;
}
/* .bottom {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
} */

.centered {
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%) !important;
}

.my-badge {
    
        font-size: xx-small !important;
        background-color: cyan !important;

}


.card-center {

    
        width: 35px;
        /* background-color: #F26519; */
        position: relative;
        left: 155px;
        padding: px;
    }
    
.ml-5

    {font-size: larger !important;

    

}

.mar-body {
font-size: medium !important;

}

.my-card-image{

    width: 50px !important;
    height: 50px !important;
}

